---
layout: compress
---
<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body class="layout-project">
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main" class="project-detail-main">
      <article class="project-detail" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <section class="project-detail__content" itemprop="text">
          {{ content }}
        </section>
      </article>
    </div>

    {% include scripts.html %}
  </body>
</html>
